body {
}

.logo {
    width: 100%;
    height: auto;
}

.text-left {
    text-align: left;
}

.jumbotronYellow {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #FEDD02;
    border-radius: 6px
}

